* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 80px;
    background: grey;
    border-bottom: 3px solid coral;
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

.container b {
    font-size: 30px;
    color: white;
    text-transform: capitalize;
    display: inline;
}

.container b strong {
    color: coral;
}

.menu {
    display: inline-block;
    padding-left: 400px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-left: 50px;
}

.kontent {
    width: 100%;
    height: 300px;
    background: url(./asddd.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* background-size: 100% 100%; */
    padding-top: 100px;

}

.kontent h1 {
    font-size: 28px;
    color: white;
    text-shadow: 0 0 10px black;
    text-align: center;
    width: 40%;
    margin: auto;

}

.input{
    width: 100%;
    /* height: 80px; */
    background: grey;
    padding: 20px 0;
}
.center{
    width: 80%;
    margin: auto
}
.center h3{
    display: inline;
    color: white;
    font-size: 22px;
}
.center input{
    margin-left: 620px;
    width: 300px;
    font-size: 20px;
    padding: 5px;
}
.center button{
    font-size: 20px;
    padding: 5px 20px;
    background: coral;
    color: white;
    text-shadow: 0 0 3px black;
    border: none;
    cursor: pointer;
}