#contact {
    font-weight: 1.5rem;
    padding: 50px 0;


}

.contact-header {
    text-align: center;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;

}

.contact-content-item:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 100px;
    width: 40%;

}

.contact-content-item:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 60%;
}

#contact .knowMe {
    width: 350px;
    text-align: center;
}

#contact input,
#contact textarea {
    width: 100%;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.709);
    margin: 15px 0;
}

#contact .btn {
    width: 100%;
    text-align: center;
}

@media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
    }

    .contact-content-item {
        width: 100%;
    }

    .contact-content-item:nth-of-type(1) {
        margin: 0;
    }
}