.cv {
    margin-top: 3rem;
}

.btn-cv {
    border: 2px solid transparent;
    color: rgba(255, 255, 255, 0.904);
    background: rgba(0, 0, 0, 0.9);

}

.btn-cv:hover {
    border: 2px solid black;
    color: black;
    box-shadow: 0 2px 4px black;
    background: transparent;

}

.btn-talk {
    border: 2px solid;
    color: black;
    box-shadow: 0 2px 4px black;
    margin-left: 15px;
    margin-top: 15px;
}

@media (max-width: 968px) {
    .btn {
        padding: 12px;
        display: block;
        margin: 5px 0;
    }
}