@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}
body{
    background: rgba(0, 0, 0, 0.1);
}
.container{
    width: 80%;
    margin: auto;
}
.btn{
    padding: 16px;
    background: none;
    cursor: pointer;
    border-radius: 12px;
    border: none; 
    transition: .5s ease;
}